<form role="form" method="POST">
  <div class="form-group ">
    <label for="exampleInputEmail1" >Ip
        <fieldset disabled>
        <input type="text" class="form-control col-sw-5 " id="exampleInputEmail1" style="width:300px" placeholder="Ip地址" name="ip">
            </fieldset>
    </label>
      <span class="span_error"></span>
  </div>
      <div class="form-group">
        <label for="exampleInputEmail1" >主机名
            <input type="text" class="form-control col-sw-5" id="exampleInputEmail1" style="width:300px" placeholder="主机名称" name="hostname">
        </label>
          <span class="span_error"></span>
      </div>
    <div class="form-group">
    <label for="exampleInputEmail1" >功能
        <input type="text" class="form-control col-sw-5" id="exampleInputEmail1" style="width:300px" placeholder="服务器功能名称" name="fn">
    </label>
      <span class="span_error"></span>
  </div>

</form>